.search-input 					{ height:18px;  }
.horizontal-panel li 		{ padding:0 4px 0 5px;}
.content .xform .submit-button input		{ padding:5px 6px; }
.scroll 								{ width:895px; }  



.horizontal-review-type li, 
.news-feed p, 
.row-img-scroll 
.navi a, 
.caption { behavior: url(iepngfix.htc); }

.ui-dialog-content fieldset li input { width:160px; text-align:left; font-family:Arial, Helvetica, sans-serif; padding:2px; }
.ui-widget-header .ui-icon {background-image: url(../img/modal/ui-icons_white_256x240.gif); }
