.search-input 			{ height:18px;  }
.horizontal-panel li { padding:0 4px 0 5px;}
.content .xform .submit-button input		{ padding:5px 6px; }
div.utils { display:inline-block; }			
.ui-dialog-content fieldset li label { width:75px; float:left; text-align:right; margin:0 10px 0 0; }
.ui-dialog-content fieldset li input { width:160px; text-align:left; font-family:Arial, Helvetica, sans-serif; padding:2px; }
