h1            { page-break-before:auto }
h1, h2, h3,
h4, h5, h6    { page-break-after: avoid }
ul, ol, dl    { page-break-before: avoid }

body 					{ font-size:12px; line-height:18px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal;}
h1 						{ font-size:20px; }
h2 						{ font-size:18px; }
h3 						{ font-size:16px; }
h4, h5, h6 		{ font-size:13px; }
p 						{ font-weight:normal; }

table th		{ padding:8px 5px; text-align:center; border:1px solid #ccc; }
table td		{ padding:5px; text-align:center; border:1px solid #ccc; }
.alt td			{ background-color:#f1f3f5; }
a:link, a:visited { color: #520; background: transparent; font-weight: bold; text-decoration: underline; 	}
.content a:link:after, .content a:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

.xform fieldset label 												{ display:block; }
.slideshow-wrap, .mp3player-wrap, .video-wrap { display:none; }

/*
.line-header .col-7, .line-header .col-5 strong, 
.horizontal-nav, .vertical-subnav, .row-equalheight .col-3, 
.horizontal-breadcrumb, .footer, .paging, .addthis_button,



*/
