/* Reset 
----------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus 						{ outline:0; }
body 							{ line-height:1; color:black; background:white; }
ol, ul 						{ list-style:none; }
table 						{ border-collapse:collapse; border-spacing:0; }
caption, th, td 	{ text-align:left; font-weight:normal; }
blockquote:before, 
blockquote:after,
q:before, q:after { content:""; }
blockquote, q 		{ quotes:"" ""; }
img { display:block; }


/* Containers
----------------------------------------------------------------------------------------------------*/
	body				{ color:#535150; background-color:#f4f3f3; text-align:center; font-size:75%; line-height:1.6667; font-family:Arial, Helvetica, sans-serif; }
	.container 	{ margin-left:auto; margin-right:auto; width:1080px; text-align:left; background:#f4f3f3; overflow:hidden; }
	.row 				{ display:block; clear:both; width:100%; overflow:hidden; position:relative; }
	.main 			{ width:960px; margin:0px auto; padding:0 20px; border:2px solid #e9e8e8; border-width:2px 2px 0 2px; background:#fff; overflow:hidden; }
	

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 { display:inline; float:left; position:relative; margin-left:0px; margin-right:0px; }	

	.col-1 	{ width:80px; }
	.col-2 	{ width:160px; }
	.col-3 	{ width:240px; }
	.col-4 	{ width:320px; }
	.col-5 	{ width:400px; }
	.col-6 	{ width:480px; }
	.col-7 	{ width:560px; }
	.col-8 	{ width:640px; }
	.col-9 	{ width:720px; }
	.col-10 { width:800px; }
	.col-11 { width:880px; }
	.col-12 { width:960px; }
	
	/* Grid >> Children (First, Last) */
		.col-first 	/* Extends .col-n */ { margin-left:0; }
		.col-last 	/* Extends .col-n */ { margin-right:0; }
	
	/* Prefix Extra Space >> 12 Columns */	
		.col-prefix-1 	/* Extends .col-n */ { padding-left:80px; }
		.col-prefix-2 	/* Extends .col-n */ { padding-left:160px; }
		.col-prefix-3 	/* Extends .col-n */ { padding-left:240px; }
		.col-prefix-4 	/* Extends .col-n */ { padding-left:320px; }
		.col-prefix-5 	/* Extends .col-n */ { padding-left:400px; }
		.col-prefix-6 	/* Extends .col-n */ { padding-left:480px; }
		.col-prefix-7 	/* Extends .col-n */ { padding-left:560px; }
		.col-prefix-8 	/* Extends .col-n */ { padding-left:640px; }
		.col-prefix-9 	/* Extends .col-n */ { padding-left:720px; }
		.col-prefix-10 	/* Extends .col-n */ { padding-left:800px; }
		.col-prefix-11 	/* Extends .col-n */ { padding-left:880px; }		
	
	/* Suffix Extra Space >> 12 Columns */	
		.col-suffix-1 	/* Extends .col-n */ { padding-right:80px; }
		.col-suffix-2 	/* Extends .col-n */ { padding-right:160px; }
		.col-suffix-3 	/* Extends .col-n */ { padding-right:240px; }
		.col-suffix-4 	/* Extends .col-n */ { padding-right:320px; }
		.col-suffix-5 	/* Extends .col-n */ { padding-right:400px; }
		.col-suffix-6 	/* Extends .col-n */ { padding-right:480px; }
		.col-suffix-7 	/* Extends .col-n */ { padding-right:560px; }
		.col-suffix-8 	/* Extends .col-n */ { padding-right:640px; }
		.col-suffix-9 	/* Extends .col-n */ { padding-right:720px; }
		.col-suffix-10 	/* Extends .col-n */ { padding-right:800px; }
		.col-suffix-11 	/* Extends .col-n */ { padding-right:880px; }



/* Shared 
----------------------------------------------------------------------------------------------------*/
	input, select, 
	textarea 					{ font-family:Arial, Helvetica, sans-serif; font-size:1em; }
	.ifl 							{ float:left; margin:0 20px 20px 20px; display:inline; }
	.ifr 							{ float:right; margin:0 20px 20px 20px; display:inline; }
	.clear 						{ clear:both; }
	.fr 							{ float:right; display:inline; }
	.fl 							{ float:left; display:inline; }
	.sr 							{ height:1px; left:-9999em; overflow:hidden; position:absolute; top:0; width:1px; }
	.img-replace 			{ display:block; font-size:1px; line-height:0; text-indent:-9999em; }
	.img-highlight		{ border:5px solid #d7d6d6; }
	
	.mini-pdf					{ padding-left:20px; color:#143f8c; background:url(../img/icons/mini-pdf.gif) no-repeat 0 0; }
	.mini-doc					{ padding-left:20px; color:#143f8c; background:url(../img/icons/mini-doc.gif) no-repeat 0 0; }	
	.mini-xls					{ padding-left:20px; color:#143f8c; background:url(../img/icons/mini-excel.gif) no-repeat 0 0; }	
	.mini-txt					{ padding-left:20px; color:#143f8c; background:url(../img/icons/mini-txt.gif) no-repeat 0 0; }	
	.mini-url					{ padding-left:20px; color:#143f8c; background:url(../img/icons/mini-web.gif) no-repeat 0 0; }	
	.rss 							{ padding-left:23px; color:#143f8c; background:url(../img/icons/rss.gif) left 50% no-repeat; }	
	.print						{ padding-left:23px; color:#143f8c; background:url(../img/icons/print.gif) no-repeat 0 0; }	
	.leave-comment		{ padding-left:23px; color:#143f8c; background:url(../img/icons/comment.gif) no-repeat 0 2px; line-height:19px; }
	
	.itm							{ width:31px; height:13px; background:url(../img/icons/itm.gif) no-repeat 0 0; font-size:1px; line-height:0; text-indent:-9999em; }
	
	div .addthis_toolbox		{ z-index:100; }
	div .addthis_toolbox .at300m 				{ padding:0; margin-right:6px }
	div .addthis_toolbox .at15t_compact { margin-right:2px; line-height:1.6667 !important; background:url(../img/icons/addthis.gif) 0 2px no-repeat;  }		
	div.atclear													{ display:none !important; float:none !important; margin:0 !important; }
	
	/* Buttons */
		.learn-more 								{ width:82px; height:23px; background:url(../img/buttons/learn-more.gif) 0 0 no-repeat; display:block; font-size:1px; line-height:0; text-indent:-9999em; }
			.learn-more:hover 				{ background-position:0 -23px; }	
		

/* Header 		
----------------------------------------------------------------------------------------------------*/
	.leaderboard					{ float:left; margin:20px 0 0 40px; display:inline; padding-bottom:18px; }
	.arts-council-logo 		{ float:right; margin:30px 40px 18px 0; }
	.irish-theatre-logo 	{ display:block; margin:35px 0 28px 0; width:642px; height:74px; background:url(../img/logos/irish-theatre-magazine-screen.png) 0 0 no-repeat; display:block; font-size:1px; line-height:0; text-indent:-9999em; }
	.irish-theatre-logo a { display:block; width:642px; height:74px; }
	
	/*.actions-row		{ position:absolute; top:0px; right:-1px; width:320px}*/
	.actions-row		{ display: none; }
	.actions 						{ background:#4f658c; border-top:1px solid #192f47; color:#fff; font-weight:bold; text-align:center; line-height:1; text-transform:lowercase; padding:10px 0; display:block; float:left; display:inline; text-decoration:none; }
	.actions:hover 			{ background-color:#192f47; cursor:pointer; }
	
	.join-mailing-list 		{ width:230px; border-right:1px solid #7b8ca9; background:#AA0E32 }
	
	.contact-us 				{ width:88px; }

	/*.search 						{ position:relative; top:60px; }*/
	.search 						{ display: none; }
	#ctl00_plcMain_pnlComments { display: none; }
		.search-input 			{ float:left; width:160px; border:1px solid #ccc; height:20px; padding:5px 4px 3px 4px; color:#6f7073; }
		.search-submit 			{ float:left; border:0; line-height:1; width:70px; padding:6px 0 7px 0; }
	
	.header-date 				{ position:absolute; bottom:16px; color:#8d8b8a; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
	.header-date strong { font-weight:bold; }
	
/* Nav 		
----------------------------------------------------------------------------------------------------*/
.navigation { position:relative; display:block; }
	.nav 					{ display:block; overflow:hidden; width:100%; }
		.nav li 				{ display:block; float:left; color:#1a1715; }			
		.nav a 					{ display:block; float:left; text-transform:uppercase; color:#1a1715; padding:14px 15px 12px 15px; text-decoration:none; line-height:1; }	
		.nav a:hover 		{ color:#e9e8e8; background-color:#1a1715; }
		.nav .on 				{ font-weight:bold; background-color:#c6c5c4; }
	
		.nav-main	 					/* Extends .nav */ {}		
			.nav-main, 
			.nav-main a 			{ background:#e9e8e8; }
			.nav-main li 			{ border-right:1px solid #fff; }
			
		.nav-sub 							/* Extends .nav */ {}
			.nav-sub li.last a { background-image:none; }
			.nav-sub, 
			.nav-sub a					{ background-color:#c6c5c4 } 
			.nav-sub a					{ padding:13px 15px; background:#c6c5c4 url(../img/backgrounds/nav-sub-divider.gif) right 52% no-repeat; }
			.nav-sub a:hover 		{ background-color:#c6c5c4; color:#1a1715; text-decoration:underline; }

	.social { position:absolute; top:8px; right:5px;}
	.social li { float:left; margin-left:5px;}
		
/* Content 
----------------------------------------------------------------------------------------------------*/
	.content 		{ color:#58595b; }		
		.content h1, .line h1 		{ font-size:3em; line-height:1.1111; margin:20px; font-weight:bold; color:#1a1715; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }		
		.content h1 a, .line h1 a	{ text-decoration:underline; color:#1a1715; }
		.content h2, .line h2 		{ font-size:2.333em; line-height:1.2143; margin:20px; font-weight:normal; color:#4f658c; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		.content h2 a, .line h2 a	{ text-decoration:underline; color:#4f658c; }
		.content h3 	{ font-size:1.8333em; line-height:1.3636; margin:20px; font-weight:normal; color:#4f658c; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		.content h3 a	{ text-decoration:underline; color:#4f658c; }
		.content h4 	{ font-size:1.5em; line-height:1.66667; margin:20px; font-weight:normal; color:#4f658c; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		.content h4 a	{ text-decoration:underline; color:#4f658c; }
		.content h5 	{ font-size:1.08333em; line-height:1.538; margin:20px; font-weight:bold; color:#4f658c; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		.content h5 a	{ text-decoration:underline; color:#4f658c; }
		.content h6 	{ font-size:1em; line-height:1.66667; margin:20px; font-weight:bold; color:#58595B; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		.content h6 a	{ text-decoration:underline; color:#58595B; }
		
		.content dl, .content ol, .content ul 	{ margin:20px;  }
		.content ul 		{ list-style:disc; }
		.content ol 		{ list-style:decimal; }
		.content ol li	{ list-style:decimal; margin-left:20px; }		
		.content dt 		{ font-weight:bold; }		
		.content dd, 
		.content li 		{ margin:10px 20px; } 		
		.content .horizontal li { margin:0; }
		
		.content p 			{ margin:20px 20px; }
		.content a			{ text-decoration:underline; color:#143f8c; }
		.content a:hover		{ text-decoration:none; }		
		.content em 		{ font-style:italic; }
		.content sub 		{ vertical-align:sub; font-size:.75em; }
		.content sup 		{ vertical-align:super; font-size:.75em; }
		.content strong { font-weight:bold; }
		
		.content blockquote { color:#535150; font-size:1.5em; font-style:italic; line-height:1.3889; border:double #d7d6d6; border-width:3px 0; clear:both; margin:0 20px 20px 20px; width:280px; font-family:Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif }
		.content .ifl				{ clear:left; }
		.content .ifr				{ clear:right; }
		
		.content input, 
		.content select, 
		.content textarea { color:#6f7073; }
		
		.content .intro 	{ font-size:1.41667em; line-height:1.4706; }
		
		.content .xform 									{ clear:both; margin:0; width:100%; overflow:hidden; }
		
		.content fieldset 								{ border-top:1px solid #ccc; padding-top:20px; }
			.content fieldset legend 					{ padding:6px 4px 6px 2px; font-weight:bold; font-size:1.08333em; }
			.content fieldset label 					{ display:inline-block; line-height:1.8; vertical-align:top; text-align:right; padding-right:2%; width:30%; }
			.content fieldset ol 							{ margin:0; padding:0; }
			.content fieldset li 							{ list-style:none; padding:5px 5px 7px 5px; margin:0; }
			.content fieldset em 							{ font-weight:bold; font-style:normal; color:#ed3024; }
			.content fieldset fieldset 				{ border:none; margin:0; line-height:0; margin-bottom:-1.8em; position:relative; width:100%; padding:0;  }
			.content fieldset fieldset p 			{ margin:0; display:inline-block; line-height:1.8; vertical-align:top; text-align:right; padding-right:2%; width:30%;  }
			.content fieldset fieldset label 	{ display:block; width:auto; margin-left:32%; text-align:left; position:relative; top:-1.8em; }			
			
			.content .submit-button 					{ margin:0; margin-left:32%; margin-top:20px; padding:5px; }
			.content .form-info								{ display:block; margin-left:32%; color:#4e9ac4; padding:5px; }
			.content .form-info-error					{ color:#ed3024; }
			.content .field-requirement				{ margin-left:1em; }
			.content .form-intro							{ background:#f4f3f3; color:#000; margin:0; padding:20px; }

			.content .xform .submit-button input		{ border:0; color:#fff; background:#4f658c; padding:10px 12px; font-weight:bold; text-align:center; line-height:1; text-transform:lowercase; text-decoration:none;}
			
			.content .xform-leave-comment						{ clear:both; margin:0; margin-bottom:20px; }
			.content .xform-leave-comment fieldset 	{ border:none; }
			.content .xform img { display:inline; line-height:0; margin:0 10px; font-size:1em; vertical-align:bottom }
			
		.content table { margin:20px; }
			.content table th		{ padding:10px 5px; text-align:center; background-color:#c6c5c4; border:1px solid #d7d6d6; }
			.content table td		{ padding:5px 8px; text-align:center; border:1px solid #d7d6d6; }
			.content .alt td		{ background-color:#f4f3f3; }
		
		.content .mp3player-wrap 		{ display:block; margin:20px; }
		.content .video-wrap				{ display:block; margin:20px; }
		.content .slideshow-wrap		{ display:block; margin:20px; }		
		
		.paging 						{ margin:20px; padding-top:10px; border-top:1px solid #d7d6d6; }
			.paging ul 							{ margin:0; float:left; overflow:hidden; }
			.paging li 							{ border:0; margin:0; padding:0; font-size:.91667em; list-style:none; float:left; }
			.paging a 							{ border:solid 1px #ddd; margin-right:2px; display:inline; }				
			.paging .first a,
			.paging .previous a,
			.paging .next a,
			.paging .last a    			{ border:solid 1px #fff; } 			
			.paging .active 									{ display:block; float:left; padding:4px 6px; margin:0 1px 0 25px; display:inline; }			
			.paging .goto-selection 					{ display:block; float:left; padding:4px 6px; margin:0 25px 0 1px; display:inline; }
				.paging .goto-selection label 	{ display:block; float:left; padding:0 3px 0 0; }
			.paging a:link,
			.paging a:visited  			{ color:#4F658C; display:block; float:left; padding:3px 7px; text-decoration:none; } 
			.paging a:hover 				{ border:solid 1px #d3d8e2; }

/* Lists  
----------------------------------------------------------------------------------------------------*/
	.horizontal		{ display:block; }			
		.horizontal li 					{ display:inline; padding:0 7px; line-height:1; border-left:1px solid; }
		.horizontal li a				{ font-size:1em; text-decoration:none; }
		.horizontal li a:hover	{ text-decoration:underline; color:inherit; } 
		.horizontal li.first 		{ border:0; padding-left:0px; }
		.horizontal li.last  		{ padding-right:0px; }
		
	.inline { display:block; }
		.inline span 	{ display:inline-block; }
		.inline em 		{ font-style:normal; }

			
/* Home Page  
----------------------------------------------------------------------------------------------------*/				
	.panels { }
		.panels h1 							{ font-size:1.5em; line-height:1.1111; margin:30px 0 20px 20px; font-weight:normal; color:#4f658c; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
		.panels h1 a						{ text-decoration:none; color:#4f658c; }
		.panels div 						{ float:right; width:316px; }
		.panels ul 							{ margin-right:0; }
		.panels img.fl					{ border:2px solid #fff; }
		.panels a:hover img.fl	{ border-color:#bccdec; }
		.panels a:hover 				{ color:#d7d6d6; }
		.panels h1 a:hover 			{ color:#192f47}
		.panels .news 					{ margin:28px 0px 28px 28px; }
		.panels .feature				{ margin:28px 0px 28px 0px; }
		#slideshowplayer 				{ width:960px; height:480px; }
		
		.horizontal-panel 						/* Extends .horizontal */ {}
			.horizontal-panel li 				{ border-left:none; background:url(../img/backgrounds/horizontal-panel-divider.gif) right 50% no-repeat; padding:0 6px 0 3px; }
			.horizontal-panel li.last		{ background-image:none; }
			.horizontal-panel a 				{ color:#4f658c; }
			.horizontal-panel a:hover 	{ color:#192f47; }
		
/* Footer
----------------------------------------------------------------------------------------------------*/
	.footer 	{ width:960px; margin:20px auto; padding:20px 0; border-top:1px solid #d7d6d6; }
		.footer p 					{ clear:left; margin:0 100px 20px 0; }
		.footer a 					{ color:#143f8c; text-decoration:none; }
		.footer a:hover 		{ text-decoration:underline; }
		.footer strong 			{ font-weight:bold; }
		.footer-logos a img		{ margin-bottom:10px; }
		.copyright 					{ text-transform:uppercase; }		
		.footer-site-links 	{ text-align:right; color:#143f8c; clear:right; }
		.xcommunications-credit 		{ line-height:30px; width:320px; }
		.xcommunications-credit img		{ float:right; }
		.xcommunications-credit span	{ float:left; }
		
		.horizontal-footer-address 							/* Extends .horizontal */ { margin-bottom:20px; }
			.horizontal-footer-address li 				{ border:0; padding:0 8px; }
			.horizontal-footer-address li.first 	{ margin-left:0; }
			.horizontal-footer-address li.last 		{ margin-right:0; }				
		
		.inline-footer-contact 							/* Extends .inline */ { margin-bottom:20px; }
			.inline-footer-contact span				{ width:5em; }		
		
		.footer .addthis_default_style 			{ float:right; text-align:right; }
		
		.footer .twitter-button 	{ display:block; margin:10px 0; min-height:24px; width:240px; }
		
	
/* Modules
----------------------------------------------------------------------------------------------------*/	
	/* General */
	.line 			{ border:solid #d7d6d6; border-width:0; float:left; width:100%; margin:0 0 20px 0; }
		.line p 			{ float:left; color:#8d8b8a; font-size:1.333em; margin:0; padding:17px 20px 14px 20px; display:inline; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
		.line h1 			{ float:left; display:inline; margin:4px 0 0 0; }
		.line h2 			{ float:left; display:inline; margin:4px 0 0 0; }
		
		.line-bottom						/* Extends .line */ { border-width:1px 0 0 0;  margin-bottom:40px; }
			.line-bottom .itm 		{ float:left; margin:19px 0 15px 20px; }
		
		.line-byline 						/* Extends .line */ { border-width:1px 0; }
			.line-byline strong 	{ margin-right:1em; padding-right:1em; background:url(../img/backgrounds/line-divider.gif) right 0 no-repeat; }
			.line-byline .utils div { margin-left:0px; }
		
		.line-search 						/* Extends .line */ { border-width:1px 0; }
		
		.line-xform							/* Extends .line */ { margin-bottom:0; border-width:1px 0; }
		.line-comments					/* Extends .line */ { border-width:1px 0; }
		.line-top								/* Extends .line */ { margin:25px 0 20px 0; }
		.line-feature 					/* Extends .line */ { float:none; width:auto; }
			.line-feature p 			/* Extends .line */ { float:none; display:block; }
			.line-feature h1 			/* Extends .line */ { float:none; display:block; }
			.line-feature h2 			/* Extends .line */ { float:none; display:block; }
		
	.utils 										{ float:right; padding:19px 0 17px 0; }
	
		.utils div 							{ float:right; margin-left:20px; display:inline; }
		.utils .print 					{ display:inline; text-decoration:none; }
		.utils a, 
		.utils .addthis_default_style a { text-decoration:none; color:#143f8c; padding-top:3px; padding-bottom:3px; }
		.utils a:hover 					{ text-decoration:underline; }
		
/*		.content .utils 				{ padding-right:20px; } */
		
		.show-info .utils 						/* Extends .utils */ { padding:0; padding-right:0; }		
			.show-info .utils div 			{ padding:10px 11px 9px 11px;}
			.show-info .utils  a 				{ color:#fff; line-height:1; }
			.show-info div .addthis_toolbox .at15t_compact {background-position:0 0 !important; }
		
		
	/* Show Info */
	.show-info           		/* Extends .row */ { background:#1a1715; color:#fff; }
		
		.show-info { background:#1a1715; color:#fff; }
			.show-info h1 		{ font-size:3.5em; line-height:1; margin:20px 30px; font-weight:bold; color:#fff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }		
			.show-info h1 a		{ text-decoration:none; color:#fff; }
			.show-info h2 		{ font-size:2em; line-height:1.16667; margin:20px 30px 27px 30px; font-weight:normal; color:#fff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
			.show-info h2 a		{ text-decoration:none; color:#fff; }
			.show-info h3 		{ font-size:1.16667em; line-height:1.14286; margin:20px 30px 15px 30px; font-weight:normal; color:#fff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
			.show-info h3 a		{ text-decoration:none; color:#fff; }
			.show-info h4 		{ font-size:1.16667em; line-height:1.14286; margin:15px 30px 25px 30px; font-weight:normal; color:#c6c5c4; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
			.show-info h4 a		{ text-decoration:none; color:#c6c5c4; }
			.show-info p 			{ margin:20px 30px; }	
			.show-info a 					{ color:#fff; text-decoration:none; }
			.show-info a:hover 		{ text-decoration:underline; }
			.show-info img { display:block; }
			
			.caption 		{ position:absolute; z-index:400; bottom:0; left:0; margin:0; width:100%; text-align:right; clear:both; font-size:.916667em; line-height:1.1818; background:url(../img/backgrounds/caption.png); }
			.caption p 	{ position:relative; z-index:500; margin:0; padding:8px 10px; color:#fff; }
			
			a.actions-show-info 			{ margin:0 20px 40px 20px; border-top:none; padding:10px 18px; }
			a.actions-show-info:hover { text-decoration:none; }
			
			.production-info 					{ color:#c6c5c4; margin:20px; }
			.production-info a 				{ color:#fff; text-decoration:none; }
			.production-info a:hover 	{ text-decoration:underline; }
			
			.review-type 							{ background:#4f658c; float:left; }	
			.review-type p						{ margin:10px 65px 9px 11px; line-height:1; }		
			.review-type ul 					{ margin:10px 65px 9px 11px; line-height:1; }			
			.horizontal-review-type 					/* Extends .horizontal */ { color:#fff; }
			.horizontal-review-type li				{ border:0; background:url(../img/backgrounds/review-type-divider.png) no-repeat; padding:0 6px 0 11px; }
			.horizontal-review-type li.first  { background:none; padding-left:0; }
			.horizontal-review-type a 				{ color:#fff; text-decoration:none; }
	
			.review-type-dance 		{ background-color:#b2ab32; }
			.review-type-theatre 	{ background-color:#aa0e32; }
	
			.show-info-home					/* Extends .show-info */ 	{}
				.show-info-home h2 		{ font-size:2em; line-height:1.16667; color:#c6c5c4; }
				.show-info-home h2 a 	{ color:#c6c5c4; }
				.show-info-home p a 	{ color:#7b8ca9; }	
			
			.show-info-primary 			/* Extends .show-info */ 	{ }
				.show-info-primary h1 { margin:27px 10px 5px 20px; font-size:1.333em; line-height:1.25; }
				.show-info-primary h2	{ margin:5px 10px 20px 20px; font-size:1.16667em; font-style:normal; line-height:1.2143; }
				.show-info-primary p 	{ margin:20px; }
				
			.show-info-fringe				/* Extends .show-info */ 	{ }
				.show-info-fringe h1 	{ font-size:3em; margin:0 20px 18px 30px; }
				.show-info-fringe h2 	{ font-size:1.5em; margin:0 20px 35px 30px; }
				.show-info-fringe h3 	{ font-size:1.5em; margin:0 20px 5px 30px; line-height:1; }
				.show-info-fringe h4 	{ font-size:1.5em; margin:0 20px 20px 30px; line-height:1; }
				.show-info-fringe .production-info { margin-bottom:15px; }
			
			.show-info-feature			/* Extends .show-info */ 	{ }
				.show-info-feature h1 	{ font-size:1.333em; margin:20px; }
				.show-info-feature p 		{ margin:20px; color:#c6c5c4; }
				
	.row-show-summary /* Extends .row */ { margin-bottom:20px; }
	
	.show-info-extended 							{ background:#e9e8e8; }		
		.inline-show-info-extended					/* Extends .inline */ { margin:20px; width:280px; line-height:1.3333em; overflow:hidden; }
			.inline-show-info-extended li 		{ float:left; clear:left; width:100%; }
			.inline-show-info-extended span		{ float:left; width:45%; margin-right:3%; font-style:italic; color:#535150; }	
			.inline-show-info-extended em 		{ float:left; display:inline-block; width:52%; color:#1a1715; }
			.inline-show-info-extended .nowidth				{ margin-top:20px; }
			.inline-show-info-extended .nowidth span,
			.inline-show-info-extended .nowidth em 		{ float:none; display:inline; width:auto; }
			.show-info-extended p { margin:20px; }
			
		.multimedia { margin:10px 10px 30px 10px; clear:both; overflow:hidden; }
			.multimedia strong { display:block; padding:9px 7px; text-transform:uppercase; background:#373331; color:#e9e8e8; line-height:1; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
			.multimedia p 							{ margin:10px; }
			.multimedia div 						{ width:100%; }
				.multimedia-info em				{ display:block; font-style:normal; }
				.multimedia-info a				{ display:block; color:#143f8c; text-decoration:none; }
				.multimedia-info a:hover	{ text-decoration:underline; }
			
			
	.review-list { clear:both; background:#f4f3f3; margin-bottom:10px; }
	
	ol.horizontal-review-list /* Extends .horizontal */{ padding:14px 0; margin:0 20px;}
		.horizontal-review-list li 						{ border:none; color:#1a1715; background:url(../img/backgrounds/review-list-divider.gif) right 0 no-repeat; padding:0 15px 0 0; line-height:2.08333em;}
		.horizontal-review-list li.first 			{ color: #8d8b8a; }
		.horizontal-review-list li.last 			{ background:none; }
		.horizontal-review-list a 						{ color:#143f8c; white-space:nowrap; }
		.horizontal-review-list li a:hover 		{ color:#143f8c; text-decoration:underline; }
		
		.sort-reviews 		{ clear:none; }
		ul.horizontal-review-list-sort 					{ margin:23px 20px 20px 40px; line-height:1; }
		ul.horizontal-review-list-sort li				{ line-height:1; }
		ul.horizontal-review-list-sort .first 	{ background:none; }
	
	/* Listings */			
		.imgbox 										{ text-align:right; }
			.imgbox img 							{ display:inline; }
		.textbox 										{  }
			.textbox h1								{ color:#4f658c; font-size:1.333em; line-height:1.23; font-style:normal; font-weight:normal; margin:0 40px 10px 20px; }
			.textbox h1 a 						{ color:#4f658c; text-decoration:none; }
			.textbox h1 a:hover				{ text-decoration:underline; }
			.textbox .byline 					{ margin:10px 40px 10px 20px; color:#8d8b8a; }
			.textbox .byline em				{ color:#373331; font-weight:normal; font-style:normal;}
			.textbox .group						{ margin-left:1em; padding-left:1em; background:url(../img/backgrounds/line-divider.gif) -6px -1px no-repeat; }
			.textbox p 								{ margin:10px 40px 10px 20px; }
			.textbox a 								{ color:#143f8c; text-decoration:none; font-size:1em; }
			.textbox a:hover					{ text-decoration:underline; }
			
		/* Review */
			.review 				{ margin-bottom:30px; }				
			.review .textbox 										{  }
				.review .textbox h1								{ color:#535150; font-size:1.66667em; line-height:1.23; font-style:normal; font-weight:normal; margin:0 40px; }
				.review .textbox h1 a 						{ color:#535150; }
				.review .textbox h1 strong 				{ font-style:normal; font-weight:bold; color:#4f658c; }	
				.review .textbox .byline 					{ margin:5px 40px 15px 40px; color:#8d8b8a; }	
				.review .textbox p 								{ margin:10px 40px; }		
							
		/* News */
			h2.h2-news { margin:0 0 20px 0; color:#535150; font-weight:bold; font-size:2em; }	
			
			.news 		{ margin-bottom:30px; }								
				.news ul.horizontal-panel 					{ margin:10px 0 0 20px; }
				.news ul.horizontal-panel li 				{ padding:0 1em;}
				.news ul.horizontal-panel li.first 	{ padding-left:0; }
				
				.news1 														/* Extends .news */ {}
					.news1 .imgbox 									{ text-align:left; margin:0; }
					.news1 .textbox h1							{ margin-left:40px; font-size:2.333em; }
					.news1 .textbox .byline 				{ margin-left:40px; font-size:1.3333em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
					.news1 .textbox p 							{ margin-left:40px; }
					.news1 ul.horizontal-panel 			{ margin-left:40px; }		
				
				.news3 												/* Extends .news */ { margin-bottom:20px; }
					.news3 .textbox h1					{ margin:0 20px 3px 0; }
					.news3 .textbox .byline 		{ margin:3px 20px 3px 0; }	
	
		/* Comments */
			.comment 		{ margin-bottom:30px; }
				.comment .imgbox 								{ float:left; width:20%; text-align:left; }
					.comment .imgbox img 						{ margin-left:20px; border:5px solid #d7d6d6; }
					.comment .imgbox a:hover img 		{ border-color:#c7c6c6; }
				.comment .textbox 								{ float:left; width:79%; }
					.comment .textbox em.fl					{ color:#8d8b8a; font-size:1.333em; font-style:normal; font-weight:bold; }
					.comment .textbox em.fl a 				{ text-decoration:none; color:#8D8B8A; }
					.comment .textbox em.fl a:hover	{ text-decoration:underline; }
					.comment .textbox em.fl strong		{ color:#4f658c; }
					.comment .textbox em.fl strong a 	{ color:#4f658c; }
					.comment .textbox p 							{ margin:0; }
					
		/* Search */
			h2.h2-search { margin-bottom:40px; }	
			.search-result { margin:20px 0; }			
				
			.search-result .textbox 	{ float:left; width:75%;  }
				.search-result .heading 				{ display:block; margin:0 0 5px 20px; line-height:1.154; font-size:1.08333em; }
				.search-result .heading a 			{ text-decoration:underline; }
				.search-result .heading a:hover { text-decoration:none; }
				
				.search-result .byline 					{ margin-top:0; font-size:.916667em; }
				.search-result .byline em				{ color:#8d8b8a; }
				.search-relevance-bg 			{ margin-left:20px; background:#f4f3f3; border:2px solid #dfdede; width:70px; height:4px; padding:1px; }
				.search-relevance-percent { background:#c6c5c4; height:100%; width:100%; font-size:1px; line-height:0; }
			

	/* News Feed */
	.news-feed  { color:#fff; background-color:#1a1715; }
		.news-feed a 									{ color:#fff; text-decoration:none; width:100%; }
		.news-feed p 									{ float:left; padding:5px 42px 5px 17px; width:59px; background:#4f658c url(../img/backgrounds/review-type-divider.png) 85% 50% no-repeat; }
		.news-feed ul 								{ float:left; width:725px; padding:5px 0; background-color:#1a1715; }
		.news-feed span 							{ padding:0 17px; background:url(../img/backgrounds/news-ticker-divider.gif) right 0 no-repeat; }
		.news-feed a .date 						{ color:#8d8b8a; }
		.news-feed a .news-link 			{ color:#7b8ca9; padding-right:0; background:none; }
		.news-feed a:hover 						{ color:#ffe;}
		.news-feed a:hover .news-link	{ text-decoration:underline; }
		.utils-news-feed 							{ padding:0; width:103px; }
		.utils-news-feed div 					{ padding:5px 17px 5px 0; margin:0; }
		.utils-news-feed a 						{ padding-top:0; padding-bottom:0; }
	
	/* Features */
	.ifr-feature { margin:0 0 20px 0; padding-left:20px; background-color:#fff; }
	.ifr-feature + .more-info-feature { margin-top:-20px; }
	
	.more-info-feature { float:right; clear:right; background:#e9e8e8; margin-left:20px; }
		.more-info-feature strong 	{ display:block; padding:8px; margin:20px 20px 15px 20px; text-transform:uppercase; font-size:1em; font-weight:normal;color:#fff; background:#373331; color:#e9e8e8; line-height:1; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
		.more-info-feature dl 			{ line-height:1.333; margin:15px 30px 40px 30px; }
		.more-info-feature dt 			{ font-style:italic; font-weight:normal; margin:20px 0 0 0; }
		.more-info-feature .first 	{ margin:0; }
		.more-info-feature dd 			{ margin:0; color:#1a1715; }
		.more-info-feature a 				{ text-decoration:none; }
		.more-info-feature a:hover 	{ text-decoration:underline; }
		.text-wrap-feature 					{ margin-right:320px; }
	
	/* Sitemap */
		.sitemap { }	
			ul.sitemap  			{ margin:5px 10px 5px 0; }
			ul.sitemap ul 						{ margin:5px 0; list-style:none; }
			ul.sitemap ul ul 					{ margin:5px 0 0 0; } 
			ul.sitemap li 						{ display:block; padding:2px 0 3px 0; list-style:none; margin:0; }
			ul.sitemap li a 					{ display:block; text-decoration:none; color:#1a1715;  padding:5px 0 5px 10px; border:solid #e1e0e0; border-width:1px 0; }
			ul.sitemap li a:hover			{ background:#f4f3f3; color:#1a1715; }
			ul.sitemap li li a 				{ text-decoration:none; color:#535150; border:none; padding:0; background:none; }
			ul.sitemap li li li a			{ text-decoration:none; color:#8d8b8a; }
			ul.sitemap li li a:hover 	{ color:#000; background:none;}
			ul.sitemap li li 					{ padding:3px 0 4px 18px; background:transparent url(../img/backgrounds/sitemap-level02.gif) 0 .5833em no-repeat;}
			ul.sitemap li li li				{ background:transparent url(../img/backgrounds/sitemap-level03.gif) 0 .5833em no-repeat;}
			
	/* Sitemap */
	.contact 	{ padding-right:20px; width:620px; display:block; overflow:hidden }		
	.contact .xform { margin-left:20px; width:600px; }
	.contact .line { float:none}

	
/* Scroll
----------------------------------------------------------------------------------------------------*/	
.row-scroll 					/* Extends .row */ { margin-bottom:10px; }
	.scroll 						{ position:relative; overflow:hidden; width:898px; height:120px;  }  
	.scroll-items 			{ width:20000em; position:absolute; clear:both; }
	.scroll-item 				{ float:left; }
			
		/* Custom scroll styling */
		.scroll 						{ padding:10px 0 0 0; background-color:#f4f3f3;	margin:0px;	float:left; }
			.scroll-items 						{ margin-left:8px; }
			.scroll-items .active 		{ background-color:#fff; }
			
				.scroll-item 			{ width:160px; height:120px; overflow:hidden; position:relative; line-height:1.333; background:url(../img/backgrounds/review-scroll-divider.gif) repeat-y; }
				.scroll-item a 					{ color:#143f8c; text-decoration:none; }
				.scroll-item a:hover 		{ text-decoration:underline; }
				.scroll-item p 					{ margin:12px 15px 12px 12px; }
				.scroll-item .review-by	{ position:absolute; bottom:30px; left:12px; margin:0; }
				
				.rating 								{ position:absolute; bottom:9px; left:10px; width:71px; height:11px; text-indent:-9999em; overflow:hidden; background:url(../img/backgrounds/stars.gif) 0 -55px no-repeat; }
					.rating-one-star				{ background-position:0 -44px; }
					.rating-two-star				{ background-position:0 -33px; }
					.rating-three-star			{ background-position:0 -22px; }
					.rating-four-star				{ background-position:0 -11px; }
					.rating-five-star				{ background-position:0 0; }
					
		/* Scroll Buttons */			
		a.prev, a.next, 
		a.prevPage, a.nextPage 	{ float:left; display:block; width:30px; height:130px; margin:0 1px 0 0; display:inline; cursor:pointer; font-size:1px; background:#4f658c url(../img/buttons/scroll-button-left.png) no-repeat;	}
		
		a.prev:hover, a.next:hover, 
		a.prevPage:hover, a.nextPage:hover 	{ background-color:#192f47; background-position:0px -130px; }
		a.next, a.nextPage 									{ background-image:url(../img/buttons/scroll-button-right.png); clear:right; margin:0 0 0 1px; }
		
		a.disabled 				{ background-color:#e9e8e8; cursor:default; background-position:0px -260px;}
		a.disabled:hover 	{ background-position:0px -260px; }
		
		.scroll-item .caption  	{ text-align:left; }
		.scroll-item .caption p { margin:0; }
		
		.row-img-scroll { z-index:10; }
		.row-img-scroll .navi 					{ height:10px; z-index:300; position:absolute; top:10px; right:5px;}
		.row-img-scroll .navi a 				{ display:block; float:left; height:10px; width:10px; font-size:1px; line-height:0; overflow:hidden; margin-right:5px; background:url(../img/icons/counter.png) 0 0 no-repeat; }
		.row-img-scroll .navi a.active 	{ background-position: 0 -10px; }
		
		.row-img-scroll h1 { color:#fff; position: absolute; left:20px; bottom:80px; margin:0; z-index:400; }
		.row-img-scroll .scroll-items 	{ margin:0; } 
		
	/* Different page styles */
	.row-img-scroll-feature h1 							{ font-size:5em;}
	.row-img-scroll-feature .scroll 				{ width:640px; height:560px; padding:0; }
	.row-img-scroll-feature .scroll-item 		{ width:640px; height:560px; overflow:hidden; }
		
	.row-img-scroll-home .scroll 					{ width:480px; height:480px; padding:0; }
	.row-img-scroll-home .scroll-item 		{ width:480px; height:480px; overflow:hidden; }
	
	/* Fix for Safari italic font rendering bug */
	@media screen and (-webkit-min-device-pixel-ratio:0){
		.content em 		{ font-family:Tahoma,Geneva,sans-serif; }
		.more-info-feature dt 			{ font-family:Tahoma,Geneva,sans-serif }
		.inline-show-info-extended span		{ font-family:Tahoma,Geneva,sans-serif }	
	}
	
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-dialog { overflow:hidden !important }
.ui-dialog-title { font-size:120%}
.ui-dialog-content { padding:0 !important; overflow:hidden !important}
.ui-dialog-content p { padding:15px; line-height:1.3; text-align:left }
.ui-dialog-content p input { border:0; color:#fff; background:#4f658c; padding:8px 12px; font-weight:bold; text-align:center; line-height:1; text-transform:lowercase; text-decoration:none; cursor:pointer}
.ui-dialog-content fieldset { padding:15px;}
.ui-dialog-content fieldset li { margin:0 0 8px 0; text-align:left }
.ui-dialog-content fieldset li label { width:75px; display:block; margin:0 0 5px 0; font-weight:bold }
.ui-dialog-content fieldset li input { width:175px; display:block; font-family:Arial, Helvetica, sans-serif; padding:2px; }
.ui-dialog-content em { font-weight:bold; }
.ui-dialog-content img { border-color:#fff; border-style:solid; border-width:1px 1px 0 1px }

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,Helvetica,Verdana,sans-serif; font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(../img/modal/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; padding:0; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #7d0420; background: #cccccc url(../img/modal/ui-bg-red.png) 50% 50% repeat-x; color: #fff; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(../img/modal/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: #dadada url(../img/modal/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../img/modal/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(../img/modal/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../img/modal/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../img/modal/ui-icons_222222_256x240.png);  }
.ui-widget-content .ui-icon {background-image: url(../img/modal/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../img/modal/ui-icons_white_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../img/modal/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../img/modal/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../img/modal/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../img/modal/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../img/modal/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #000 url(../img/modal/blackout.png) 50% 50% repeat-x; opacity:.50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../img/modal/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
